body {
    background-color:#111111;
}
  
.card {
    background: #222;
    border: 3px solid #1327d6;
    color: rgba(245, 245, 245, 0.8);
    margin-bottom: 2rem;
}

.pokemon-container {
    position: relative;
    left: 0.8rem;
}

img{
    background-color: rgb(235, 232, 232);
}

.container-fluid{
    
}